body {
    max-width: 1200px;
    padding: 0;
    min-height: 100vh;
    gap: 0;
}

header {
    min-height: 100vh;
    padding: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    max-width: 10rem;
    font-size: 5rem;
}

#name {
    width: 300px;
    flex-wrap: nowrap;
    flex-shrink: 0;
    flex-basis: 400px;
}

#about {
    max-width: 600px;
    text-align: end;
    flex-wrap: wrap;
    flex-shrink: 1;
}

main {
    max-width: 800px;
    margin: auto;
}

#projeto {
    padding-top: 2rem;
}

.projetos img {
    margin: 40px;
    transition: transform .5s ease;
}

.projetos img:hover {
    transform: scale(1.1);
}

footer {
    margin-top: 10rem;
}