@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*botão mudar dark/light mode e botão para mudar o idioma da página*/

:root {
    --color1: rgb(221, 221, 221);
    --color2: rgba(221, 221, 221, 0.89);
    --color2fade: rgba(221, 221, 221, 0.219);
    --color3: rgb(14, 27, 44);
    --color3light: rgb(89, 131, 187);
    --color3fade: rgba(89, 131, 187, 0.219);
    --color4: rgb(24, 24, 24);
    --color5: rgba(24, 24, 24, 0.39);
    --color6: rgb(7, 14, 22);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color1);
    font-family: "Montserrat", sans-serif;
}

html {
    background: linear-gradient(var(--color3), var(--color4)) fixed;
    color-scheme: light dark;
}

body {
    margin: auto;
    max-width: 100vw;
    padding: 150px 20px 0 20px;
    list-style-position: inside;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

body.light-mode {
    background: linear-gradient(var(--color3light), var(--color2)) fixed;
    color: var(--color4);
}

body.light-mode p,
body.light-mode #name h2,
body.light-mode h3 {
    color: var(--color4);
}

#settings {
    position: absolute;
    right: 0;
    top: 1;
    height: 100vh;
    width: 30px;
    z-index: 1000;

    transition: all .2s;
}

#settings ul {
    height: 110px;
    list-style: none;
    background-color: var(--color3fade);
    padding: 2px;
    border-radius: 40px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

#settings .settings-lang {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

#settings #ilang {
    pointer-events: none;
}

#settings #oplang {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#settings.settings-sidebar {
    position: fixed;
    right: 0;
    top: 0;
    left: auto;
    height: 30px;
    width: 100vw;
    padding-right: 10px;

    display: flex;
    justify-content: end;
    align-items: center;
}

#settings.settings-sidebar ul {
    padding: 2px;
    height: 30px;
    width: 110px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

#settings.settings-sidebar .switch {
    width: 50px;
    height: 25px;
}

#settings.settings-sidebar #theme-toggle:checked ~ .switch .slider {
    transform: translateX(25px);
}

#theme-toggle {
    display: none;
}

.switch {
    background-color: var(--color6);
    position: relative;
    padding: 3px;
    width: 25px;
    height: 50px;
    border-radius: 40px;
    cursor: pointer;

    display: flex;
    align-items: start;
    transition: all .5s ease-in-out;
}

.slider {
    position: absolute;
    background-color: var(--color1);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    left: 3px;
    transition: all .5s ease-in-out;
}

#theme-toggle:checked ~ .switch {
    background-color: var(--color1);
}

#theme-toggle:checked ~ .switch .slider {
    background-color: var(--color6);
    transform: translateY(25px);
}

span .material-symbols-outlined {
    width: 100%;
}

h3 {
    font-size: .9rem;
}

h2,
h3 {
    padding: 2rem 0;
    font-weight: normal;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: var(--color1);
}

a#projeto {
    transition: transform 0.3s ease;
}

a:hover {
    color: var(--color2);
}

a#projeto:hover {
    transform: scale(1.02);
}

p {
    line-height: 1.6;
    font-size: .95rem;
    color: var(--color2);
}

header {
    padding-bottom: 7rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h1 {
    font-family: "Megrim", system-ui;
    font-weight: normal;
    font-size: 3.5rem;
    max-width: 100px;
}

h2 {
    font-size: 1rem;
}

#name h2 {
    font-weight: normal;
    font-size: 1rem;
    color: var(--color2);
}


.hide {
    opacity: 0;
    transform: translateY(300px);
    transition: all 1s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

main {
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

article {
    display: flex;
    flex-direction: column;
}

.projetos p {
    font-size: .8rem;
}

.projetos a {
    width: 100%;
    text-align: center;
    font-size: .8rem;
}

/*ideia: carrossel com fotos das páginas/funcionalidades de cada projeto*/

.tools {
    padding-bottom: 5rem;
}

.tools h2 {
    padding: 2rem 0 3rem 0;
}

.tools ul {
    list-style: none;
    padding-bottom: 2rem;

    display: flex;
    justify-content: space-around;
}

.tools ul i {
    display: inline-block;
    font-size: 1.7rem;
    transition: transform 0.2s ease;
    transform-origin: center;
}

.tools ul i:hover {
    transform: scale(1.5);
}

.hlink {
    font-weight: 500;
}

#contato {
    display: flex;
    flex-direction: column;
}

#contato h3 {
    text-align: center;
}

#contato ul {
    padding-top: 20px;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#contato a {
    display: flex;
}

#contato i {
    font-size: 1.7rem;
    transition: transform 0.2s ease;
}

#contato a:hover i {
    transform: scale(1.15);
}

footer {
    text-align: center;
    margin: auto;
    margin-top: 2rem;
}

footer p,
footer a {
    font-size: .7rem;
}


/*IDEIAS

BOTÃO PARA DARK/LIGHT MODE*/