body {
    max-width: 70vw;
}

header {
    padding-bottom: 20rem;
    padding-top: 10rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

header h1 {
    max-width: 300px;
    font-size: 5rem;
}

#about {
    max-width: 400px;
    text-align: end;
}

main {
    max-width: 800px;
    margin: auto;
}

#projeto {
    padding-top: 2rem;
}