body {
    padding-left: 20rem;
    padding-right: 20rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 4rem;
}

header h1 {
    max-width: 300px;
    font-size: 4.2rem;
}

.face {
    padding-bottom: 20rem;
}