body {
    max-width: 1200px;
    padding: 0;
    min-height: 100vh;
    gap: 0;
}

header {
    min-height: 100vh;
    padding: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    max-width: 10rem;
    font-size: 5rem;
}

#about {
    max-width: 600px;
    text-align: end;
}

main {
    max-width: 800px;
    margin: auto;
}

#projeto {
    padding-top: 2rem;
}

.projetos img {
    padding: 40px;
    transition: transform .5s ease;
}

.projetos img:hover {
    transform: scale(1.1);
}

footer {
    margin-top: 10rem;
}