body {
    padding-left: 20rem;
    padding-right: 20rem;
}

header {

    
    padding-bottom: 4rem;
    padding-top: 6rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

header h1 {
    max-width: 300px;
    font-size: 4.2rem;
}

#about {
    max-width: 400px;
    text-align: end;
}