@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color1: rgb(221, 221, 221);
    --color2: rgba(221, 221, 221, 0.89);
    --color3: rgb(14, 27, 44);
    --color4: rgb(24, 24, 24);
    --color5: rgba(24, 24, 24, 0.39);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color1);
    font-family: "Montserrat", sans-serif;
}

html {
    background: linear-gradient(var(--color3), var(--color4)) fixed;
}

body {
    margin: auto;
    max-width: 90vw;
    min-height: 100vh;
    padding: 150px 20px 0 20px;
    list-style-position: inside;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h2 {
    font-size: 1rem;
}

h3 {
    font-size: .9rem;
}

h2,
h3 {
    padding: 2rem 0;
    font-weight: normal;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: var(--color1);
}

a#projeto {
    transition: transform 0.3s ease;
}

a:hover {
    color: var(--color2);
}

a#projeto:hover {
    transform: scale(1.02);
}

p {
    line-height: 1.6;
    font-size: .95rem;
    color: var(--color2);
}

header {
    padding-bottom: 7rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h1 {
    font-family: "Megrim", system-ui;
    font-weight: normal;
    font-size: 3.5rem;
}

#name h2 {
    font-weight: normal;
    font-size: 1rem;
    color: var(--color2);
}

/*ideia: parte após o header aparecer apenas depois de descer um pouco a página (sumir quando subir de volta?)*/
main {
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

article {
    display: flex;
    flex-direction: column;
}

.projetos {
    padding-bottom: 5rem;
}

.projetos p {
    font-size: .8rem;
}

.projetos a {
    display: block;
    width: 100%;
    text-align: center;
    font-size: .8rem;
}

/*ideia: carrossel com fotos das páginas/funcionalidades de cada projeto*/

.tools {
    padding-bottom: 5rem;
}

.tools h2 {
    padding: 2rem 0 3rem 0;
}

.tools ul {
    list-style: none;
    padding-bottom: 2rem;

    display: flex;
    justify-content: space-around;
}

.tools ul i {
    display: inline-block;
    font-size: 1.7rem;
    transition: transform 0.2s ease;
    transform-origin: center;
}

.tools ul i:hover {
    transform: scale(1.5);
}

nav {
    display: flex;
    flex-direction: column;
}

nav h3 {
    text-align: center;
}

nav ul {
    padding-top: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
}

nav a {
    display: flex;
}

nav i {
    font-size: 1.7rem;
    transition: transform 0.2s ease;
}

nav a:hover i {
    transform: scale(1.15);
}

footer {
    margin: auto;
    margin-top: 2rem;
}

footer p,
footer a {
    font-size: .7rem;
}


/*IDEIAS

BOTÃO PARA DARK/LIGHT MODE*/