@charset "UTF-8";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(221, 221, 221);
}

html {
    background: linear-gradient(rgb(35, 74, 126), rgb(53, 53, 53)) fixed;
}

body {
    margin: auto;
    max-width: 900px;
    min-height: 100vh;
    padding: 200px 20px 0 20px;
    list-style-position: inside;
    background-color: rgba(53, 53, 53, 0.39);

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h1 {
    text-indent: 1rem;
    padding: 30px;
}

h2,
h3 {
    padding: 30px 20px 10px 20px;
}

nav ul {
    padding-top: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
}

nav a {
    display: flex;
}

nav i {
    font-size: 1.7rem;
    transition: transform 0.2s ease;
}

nav a:hover i {
    transform: scale(1.15);
}

a {
    text-decoration: none;
    color: rgb(221, 221, 221);
}

p {
    line-height: 1.6;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer {
    margin: auto;
    margin-top: 2rem;
}